.course__card__container {
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  }
  .card__img {
    position: relative;
    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      border-radius: 10px 10px 0px 0px;
    }
    button {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      background-color: white;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      outline: none;
      border: none;
      color: red;
    }
  }

  .card__text {
    padding: 16px;
    h4 {
      font-size: 18px;
      font-weight: 600;
      color: #007382;
      margin-bottom: 8px;
    }

    p {
      font-size: 14px;
      color: #555;
      line-height: 1.6;
      text-align: justify;
    }
  }
}
