@use "../../styles/mixins" as *;
.card {
  @include mainContainer;
  margin-top: 2rem;
  margin-bottom: 2rem;
  .card-header {
    font-size: 1.8rem;
    font-weight: bold;
  }

  .btn-primary {
    display: block;
    margin: 2rem 1rem 1rem auto;
    font-size: 1rem;
  }
}

.courses__items {
  @include mainContainer;
  @include gridLayout;
}
